.sobre-empresa {
    padding: 40px;
    margin-top: 30vh;
    background-color: #333;
    color: #fff;
    height: 50%;
}
.sobre-empresa h2, p {
    text-align: center;
}
.sobre-empresa button {
    margin-left: 43.8%;
    margin-top: 10vh;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.sobre-empresa button:hover {
    padding: 12px;
    background-color: green;
    transition: 0.3s ease;
    transform: scale(1.0);
}
main .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}
main .card img {
    height: 200px;
    border-radius: 100%;
}
main .card p, strong {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #333;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
footer p{
    margin-top: 10px;
}
footer .social-icon {
    display: flex;
    list-style: none;
}