* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .center {
    margin-top: 10vh;
    margin-left: 30vh;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  
  
  }
  
  .header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #229C00;
    color: #ffffff;
    justify-content: right;
   
    
  
  }
  
  
  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 44px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
      }
    
  
  
  
  .header .nav ul {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
  
    
  
  }
  
  
  .header .nav ul li {
    margin: 0 65px;
    justify-content: right;
   
  }
  
  .trasform {
    display: flex;
    transform: scale(1.02);
   
    
   
  }
  
  
  
  .header .nav ul li a {
    color: #fffbfb;
    text-decoration: none;justify-content: right;
  
  
   
  }
  
  
  
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  
  
  
  .produtos {
    padding: 50px 20px;
    background: #f9f9f9;
    padding: 7%;
  }
  
  .produtos h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }